.DS_Store
node_modules
coverage
reports
.sonar_lock
report-task.txt
npm-debug.log
Dockerfile*
docker-compose*
.dockerignore
.git
README.md
LICENSE
.vscode
/package-lock.json
build
sonar-project.js
jsconfig.json
dockerfile
.env.production